
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 7));
  }
}
.test {
  height: 250px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}


.test .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.test .slide {
  height: 100px;
  width: 430px;
}